/* static/css/styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #59619b;  /*Background color */
    
}

.navbar-1 {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping in small screens */
    padding: 20px;
    justify-content: left; /* Distribute space between items */
    background-color: #1e2452;  /*Background color */
    background-image: url("{% static 'images/home/image.jpg' %}"); /* Background image */
    background-size: cover; /* Adjusts the size of the background image to cover the entire navbar */
}

.navbar-1 .nav-item {
    display: flex;
    align-items: center;
    margin-right: 0px; /* Default spacing between items */
}

.navbar-1 .nav-icon {
    width: 30px; /* Adjust width as needed ___ Icon Size For NavICon */
    height: 30px; /* Adjust height as needed */
    margin-right: 10px;
}

.navbar-1 .nav-text {
    color: #fff;
    text-decoration: none;
}

/* Custom positioning for each nav item */
.navbar-1 .no1-item {
    order: 1; /* Change the order of Contact item */
    margin-left: 20%; /* Increase space for Home item */
    
}

.navbar-1 .no2-item {
    order: 2; /* Change the order of Contact item */
    margin-left: 15%; /* Adjust position for About item */
}

.navbar-1 .no3-item {
    order: 3; /* Change the order of Contact item */
    margin-left: 10px;
}
/*--------------------------------------------------------------------Navbar_2**************************/
.navbar-2 {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping in small screens */
    padding: 100px;
    justify-content: left; /* Distribute space between items */
    background-color: #d3d3d5;  /*Background color */
    background-image: url("{% static 'images/home/swan.jpg' %}"); /* Background image */
    background-size: cover; /* Adjusts the size of the background image to cover the entire navbar */
}

.navbar-2 .nav-item {
    display: flex;
    align-items: center;
    margin-right: 0px; /* Default spacing between items */
}

.nav-logo {
    width: 200px;  /* Set the desired width */
    height: auto;
}

.navbar-2 .nav-icon {
    
    width: 60px; /* Adjust width as needed ___ Icon Size For NavICon */
    height: auto; /* Adjust height as needed */
}

.navbar-2 .nav-text {
    color: #000000;
    text-decoration: none;
}

/* Custom positioning for each nav item */
.navbar-2 .no1-item {
    order: 1; /* Change the order of Contact item */
    margin-left: 5%; /* Increase space for Home item */
    width: 30px; /* Adjust width as needed ___ Icon Size For NavICon */
    height: 30px; /* Adjust height as needed */
}

.navbar-2 .no2-item {
    order: 2; /* Change the order of Contact item */
    margin-left: 30%; /* Adjust position for About item */
}

.navbar-2 .no3-item {
    order: 3; /* Change the order of Contact item */
    margin-left: 100px;
}






/* Responsive adjustments For Mobile *******************************************************************************************/

@media (max-width: 768px) {

  
}

/* Responsive adjustments For Tablet *******************************************************************************************/

@media (min-width: 769px) and (max-width: 1024px) {
    
}
