body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #59619b; /* Background color */
    padding: 0;
}

.navbar-1 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: left;
    background-color: #1e2452;
    background-image: url("{% static 'images/home/image.jpg' %}");
    background-size: cover;
}

.navbar-1 .nav-item {
    display: flex;
    align-items: center;
    margin-right: 0px;
}

.navbar-1 .nav-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar-1 .nav-text {
    color: #fff;
    text-decoration: none;
}

.navbar-1 .no1-item {
    order: 1;
    margin-left: 20%;
}

.navbar-1 .no2-item {
    order: 2;
    margin-left: 15%;
}

.navbar-1 .no3-item {
    order: 3;
    margin-left: 10px;
}

/* Responsive adjustments for navbar */
@media (max-width: 768px) {
    .navbar-1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-1 .nav-item {
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-1 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navbar-1 .nav-item {
        margin-right: 15px;
    }
}

/* Container for custom columns */
.container {
    display: flex;
    justify-content: space-between; /* Distribute space between columns */
    flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
}

.column {
    padding: 10px;             /* Distance From the Cail ... */
    color: rgb(0, 0, 0);
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.column-1 {
    width: 20%;
    background-color: #d3d3d5;
    height: 240px;
    text-align: center;
}

.logo {
    width: 60%;
    height: auto;
    
}

.column-2 {
    width: 35%;
    background-color: #d3d3d5;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Center lines vertically */
    text-align: left;
}
    
.line-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.line-image {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.line {
    margin: 0;
    font-size: 16px;
    color: rgb(0, 0, 0); /* Change color of lines */
}

.column-3 {
    width: 20%;
    background-color: #d3d3d5;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Center lines vertically */
    text-align: left;
}

.line-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.line-image {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.line-text {
    display: flex;
    flex-direction: column;
}

.line {
    margin: 0;
    font-size: 16px;
    color: rgb(0, 0, 0); /* Change color of lines */
}

.column-4 {
    width: 25%;
    background-color: #d3d3d5;
    height: 240px;
    text-align: center;
}

.rlogo {
    width: 75%;
    height: auto;
    
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        width: 100%; /* Make columns full-width on small screens */
    }
}
