{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home/homestyles.css' %}">
{% endblock extra_head %}

{% block content %}


<div class="container">
    


    <div class="article-container">
        <div class="article-image">
            <img src="static/images/home/logo.png" alt="Sample Image">
        </div>
        <div class="article-content">
            <h1 class="article-title">Who we are?</h1>
            <p class="article-text">
                <p class="article-text">
                    For over 14 years, Mehrcool has been a leading name in refrigeration and air conditioning services
                    across various industries. We cater to a wide range of clients, from industrial giants to hypermarkets 
                    and any establishment requiring a reliable cold weather solution. Our comprehensive expertise covers 
                    repair, maintenance, and installation services, ensuring your temperature-controlled environments 
                    operate at peak efficiency.
                </p>
                <p class="article-text">
                    Unparalleled Expertise: Our team of highly skilled and certified technicians possess in-depth knowledge
                    of all types of refrigeration and air conditioning systems. We stay updated on the latest industry
                    advancements and technologies to provide you with the most effective solutions. Whether you require
                    repairs for existing equipment or a brand new installation, our experts can handle it all.
                </p>
                <p class="article-text">
                    Tailored Solutions: We understand that every client's needs are unique. That's why we take a personalized
                    approach to each project. Our team will work closely with you to assess your specific requirements, budget,
                    and desired outcomes. We then develop a customized plan that ensures your temperature control system meets 
                    your exact needs.
                </p>
                <p class="article-text">
                    Commitment to Quality: At Mehrcool, quality workmanship is paramount. We use only the highest
                    quality parts and materials to ensure long-lasting performance and reliability. Our meticulous attention to detail
                    guarantees a flawless installation or repair, minimizing future disruptions and maximizing system uptime.
                </p>
                <p class="article-text">
                    Reliable Service: We understand that any downtime in your temperature-controlled environment can be detrimental. 
                    That's why we offer prompt and reliable service. Our technicians are available 24/7 to address your concerns and minimize
                    any disruptions to your operations. We prioritize swift response times and clear communication throughout the entire process.
                </p>
                <p class="article-text">
                    Building Long-Term Partnerships: Mehrcool is more than just a service provider; we aim to build long-term partnerships
                    with our clients. We are committed to exceeding your expectations and providing ongoing support to ensure your 
                    temperature control systems operate efficiently for years to come. Partner with Mehrcool and experience the peace 
                    of mind that comes with a reliable and trusted temperature control solution.
                </p>
                
            </p>
        </div>
    </div>

    <div class="slideshow-container">
        {% for image_path in image_paths %}
            <div class="slide fade">
                <img src="{% static image_path %}" alt="Slide {{ forloop.counter }}">
            </div>
        {% endfor %}
        
        <!-- Pagination -->
        <div class="pagination">
            {% for image_path in image_paths %}
                <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
            {% endfor %}
        </div>
    </div>
</div>


<div class="container_skills">
    <div class="floor1">
        <div class="left-column">
            <img src="static/images/home/Mitso_mehrcool.jpg" alt="Image 1">
        </div>
        <div class="center-column">
            <h2>Air Conditioning</h2>
            <p><br>Energy Efficient Air Conditioning Equipment We can create a perfect working and living environment for customers across London</p>
        </div>
        <div class="right-column">
            <a href="#"><br>Read More</a>
        </div>
    </div>
</div>
    <div class="divider"></div>
<div class="container_skills">
    <div class="floor1">
        <div class="left-column">
            <img src="static/images/home/Cold-Room.jpg" alt="Image 1">
        </div>
        <div class="center-column">
            <h2>Cold Rooms</h2>
            <p><br>Our technicians are trained to service, repair, and install all types of refrigeration equipment.We provide Installation, maintenance and many repair services for Cold Rooms</p>
        </div>
        <div class="right-column">
            <a href="#"><br>Read More</a>
        </div>
    </div>
</div>
    <div class="divider"></div>
<div class="container_skills">
    <div class="floor1">
        <div class="left-column">
            <img src="static/images/home/Slush-Machine.jpg" alt="Image 1">
        </div>
        <div class="center-column">
            <h2>Slush Machines,
                Ice Machines, …</h2>
            <p><br>There are many different makes and models of machine out there and the good news is that we service over 90% of them.

            </p>
        </div>
        <div class="right-column">
            <a href="#"><br>Read More</a>
        </div>
    </div>
</div>



<div class="divider2"></div>

<div class="article-container2">
    <div class="article-image">
        <img src="static/images/home/fast.png" alt="Sample Image">
    </div>
    <div class="article-content">
        <h1 class="article-title">Share points of Good, Fast, Cheap</h1>
        <p class="article-text">
            Frustrated with slow repairs, confusing jargon, and unexpected bills? We understand! At our company,
            we prioritize your experience. Our technicians are fast and friendly, working efficiently to diagnose
            and solve your issues in a timely manner. We believe clear communication is key, so we explain
            everything in a way you can understand, and provide upfront, affordable pricing with no hidden fees.
            But most importantly, we deliver quality workmanship. Our skilled team takes pride in their work,
            ensuring a long-lasting fix that meets the highest standards.  Don't let problems linger any longer.
            Let us turn your frown upside down with our friendly service, transparent pricing, and guaranteed solutions.
            Whether you're facing a minor inconvenience or a major breakdown, we're here to help. Our dedicated team is
            committed to providing a positive and efficient experience from start to finish. You won't have to deal with
            frustrating delays or impersonal service. We believe in treating every customer with respect and understanding.
            Additionally, we offer competitive pricing that won't strain your budget. We understand the importance of
            value, and we'll work with you to find a solution that fits your needs. Finally, our focus on quality
             workmanship ensures a permanent fix that you can rely on. We don't settle for temporary solutions, and we 
             stand behind our work with a satisfaction guarantee. Choose us for a stress-free experience and lasting results.
            
        </p>
    </div>
</div>

<div class="divider2"></div>



<script src="{% static 'js/home/homescript.js' %}"></script>
{% endblock content %}
