<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="navbar-1">
        <div class="nav-item no1-item">
            <a href="">
                <img class="nav-icon" src="{% static 'images/home/clock_4.svg' %}" alt="Alarm Clock">
            </a>
            <span class="nav-text">Best Services in the great London</span>
        </div>
        <div class="nav-item no2-item">
            <a href="">
                <img class="nav-icon" src="{% static 'images/home/clock_4.svg' %}" alt="Alarm Clock">
            </a>
            <span class="nav-text">Schedule a Service</span>
        </div>
        <div class="nav-item no3-item">
            <a href="">
                <img class="nav-icon" src="{% static 'images/home/clock_4.svg' %}" alt="Alarm Clock">
            </a>
            <span class="nav-text">Request a Quote</span>
        </div>
    </div>

    <div class="container">
        <div class="column column-1">
            <img class="logo" src="{% static 'images/home/logo.png' %}" alt="Logo">
        </div>

        <div class="column column-2">
            <div class="line-container">
                <img class="line-image" src="{% static 'images/home/tick.svg' %}" alt="Image 1">
                <p class="line"><strong>Repair, Install, Maintain: Your Total AC & Refrigeration Solution</strong></p>
            </div>
            <div class="line-container">
                <img class="line-image" src="{% static 'images/home/tick.svg' %}" alt="Image 2">
                <p class="line"><strong>Cool Comfort Guaranteed: AC & Refrigeration Experts</strong></p>
            </div>
            <div class="line-container">
                <img class="line-image" src="{% static 'images/home/tick.svg' %}" alt="Image 3">
                <p class="line"><strong>Keep It Fresh or Cool: We Fix, Install & Maintain Your AC & Refrigeration</strong></p>
            </div>
        </div>

        <div class="column column-3">
            <div class="line-container">
                <img class="line-image" src="{% static 'images/home/location.svg' %}" alt="Image 1">
                <div class="line-text">
                    <p class="line"><strong>London, UK</strong></p>
                    <p class="line">Great London</p>
                </div>
            </div>
            <div class="line-container">
                <img class="line-image" src="{% static 'images/home/mail.svg' %}" alt="Image 2">
                <div class="line-text">
                    <p class="line"><strong>Mail Us On</strong></p>
                    <p class="line">Mehrcool@mehrcool.co.uk</p>
                </div>
            </div>
            
        </div>

        <div class="column column-4">
            <img class="rlogo" src="{% static 'images/home/swan.jpg' %}" alt="rLogo">
        </div>
    </div>

    {% block content %}{% endblock %}
</body>
</html>
