{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Site</title>
    <link rel="stylesheet" href="{% static 'css/base/basestyles.css' %}">
    {% block extra_head %}{% endblock extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="navbar-1">
        <div class="nav-item no1-item">
            <a href="#">
                <img class="nav-icon" src="{% static 'images/base/24hours.svg' %}" alt="Alarm Clock">
            </a>
            <span class="nav-text">Best Services in the great London</span>
        </div>
        <div class="nav-item no2-item">
            <a href="#">
                <img class="nav-icon" src="{% static 'images/base/schedule.svg' %}" alt="Alarm Clock">
            </a>
            <span class="nav-text">Schedule a Service</span>
        </div>
        <div class="nav-item no3-item">
            <a href="#">
                <img class="nav-icon" src="{% static 'images/base/qoute.svg' %}" alt="Alarm Clock">
            </a>
            <span class="nav-text">Request a Quote</span>
        </div>
    </div>

    {% comment %} <div class="container">
        <div class="column column-1">
                <a href="{% url "HomeView_url" %}">
                <img class="llogo" src="{% static 'images/base/logo.png' %}" alt="lLogo"></a>
        </div>
        <div class="column column-2">
            <div class="line-container">
                <img class="line-image" src="{% static 'images/base/tick.svg' %}" alt="Tick">
                <p class="line"><strong>Repair, Install, Maintain: Your Total AC & Refrigeration Solution</strong></p>
            </div>
            <div class="line-container">
                <img class="line-image" src="{% static 'images/base/tick.svg' %}" alt="Tick">
                <p class="line"><strong>Cool Comfort Guaranteed: AC & Refrigeration Experts</strong></p>
            </div>
            <div class="line-container">
                <img class="line-image" src="{% static 'images/base/tick.svg' %}" alt="Tick">
                <p class="line"><strong>Keep It Fresh or Cool: We Fix, Install & Maintain Your AC & Refrigeration</strong></p>
            </div>
        </div>
        <div class="column column-3">
            <div class="line-container">
                <img class="line-image" src="{% static 'images/base/location.svg' %}" alt="Location">
                <div class="line-text">
                    <p class="line"><strong>London, UK</strong></p>
                    <p class="line">Great London</p>
                </div>
            </div>
            <div class="line-container">
                <img class="line-image" src="{% static 'images/base/mail.svg' %}" alt="Mail">
                <div class="line-text">
                    <p class="line"><strong>Mail Us On</strong></p>
                    <p class="line">Mehrcool@mehrcool.co.uk</p>
                </div>
            </div>
            <div class="line-container">
                <img class="line-image" src="{% static 'images/base/24hours.svg' %}" alt="24 Hours">
                <div class="line-text">
                    <p class="line"><strong>Emergency Call</strong></p>
                    <p class="line">077123456789</p>
                </div>
            </div>
        </div>
        <div class="column column-4">
            <img class="rlogo" src="{% static 'images/base/airconwoman.jpg' %}" alt="Aircon Woman">
        </div>
    </div> {% endcomment %}

    <nav class="navbar">
        <div class="navbar-container">
            
            <button class="navbar-toggler" onclick="toggleMenu()">☰</button>
            <div class="navbar-menu" id="navbarMenu">
                <a href="#" class="navbar-item">Home</a>
                <a href="#" class="navbar-item">About Us</a>
                <a href="#" class="navbar-item">Commercial Refrigeration</a>
                <a href="#" class="navbar-item">Air Conditioning</a>
                <a href="#" class="navbar-item">Cold Rooms</a>
                <a href="#" class="navbar-item">Other Our Services</a>
                <a href="#" class="navbar-item">Our Projects</a>
            </div>
        </div>
    </nav>

    
   
    
    

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery library -->
    <script src="{% static 'js/base/basescript.js' %}"></script>
</body>
</html>
