/* static/css/home/homestyles.css */



.container {
    display: flex;
    gap: 20px; /* Space between items */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    background-color: #ffffff;
}

.item {
    flex: 1;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px; /* Set a fixed height */
    border-radius: 8px;
}

.slideshow-container {
    position:relative;
    width: 50%; /* Adjust width to 80% */
    float: right;
    
    
    
    height:500px ; /* Set height as needed 50vh  */
    overflow: hidden;
    background-color: #8da8c4;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0px 0px #ffffff; /* Optional: add a subtle shadow */
    /*margin: auto; /* Center the slideshow container horizontally */
    float: right;
    
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 30px; /* Apply rounded corners to images */
    padding: 10px;
}

.fade {
    animation: fadeEffect 0.0s ease-in-out;
}

@keyframes fadeEffect {
    from { opacity: 0.0; }
    to { opacity: 0.0; }
}

.pagination {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    /*background-color: #c8c8c8;*/
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.0s ease;
}

.active, .dot:hover {
    background-color: #8e8e8e;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .slideshow-container {
        height: 80vh; /* Adjust the height for tablets */
    }
}

@media (max-width: 768px) {
    .slideshow-container {
        height: 60vh; /* Adjust the height for smaller tablets */
    }

    .dot {
        height: 12px;
        width: 12px;
    }
}

@media (max-width: 480px) {
    .slideshow-container {
        height: 50vh; /* Adjust the height for mobile phones */
    }

    .dot {
        height: 10px;
        width: 10px;
    }
}


/************************************************************ article1 *************************************************/


/* Article container styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Article container styling */
.article-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 800px;
    overflow: hidden;
    box-shadow: 0 0 0px #ffffff;
    width: 50%;
    height: 500px;
    float: left;
    overflow-wrap: break-word;
    
    
    
}

/* Article image styling */
.article-image {
    flex: 1;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}

/* Article content styling */
.article-content {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    overflow-wrap:normal; /* Allow long words to break */
    overflow-y:visible;  /* Enable vertical scroll if needed */
    
}

.article-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.article-text {
    text-align: justify;
    font-size: 16px;
    line-height: 1.0;
    overflow-wrap: break-word;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .article-container {
        flex-direction: column;
    }

    .article-image, .article-content {
        width: 100%;
    }

    .article-image img {
        width: 100%;
        height: auto;
    }
}

/*********************************************************************introduction skills****************************/


.container_skills {
    width: 70%;
    height: 300px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: left;
    margin: auto;
    background-color: #ffffff;
    
}

.floor1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.left-column, .center-column, .right-column {
    flex: 1;
    text-align: left;
}

.left-column img {
    max-width: 90%;
    height: auto;
}

.center-column {
    flex: 1;
    text-align: left;
}

.right-column {
    text-decoration:solid;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.divider {
    border-top: solid 10px #030096; /* Set line style, thickness, and color */
    width: 70%;  /* Set desired length (adjust as needed) */
    margin: 10px 0; /* Add padding above and below (adjust as needed) */
    margin: auto;
    border-radius: 10px;
  }

  .divider2 {
    border-top: solid 15px #e1d601; /* Set line style, thickness, and color */
    width: 100%;  /* Set desired length (adjust as needed) */
    margin: 10px 0; /* Add padding above and below (adjust as needed) */
    margin: auto;
    border-radius: 10px;
  }

  /*****************************************************below Skills****************************************/

  /* Article container styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Article container styling */
.article-container2 {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 0 0px #ffffff;
    width: 100%;
    height: 600px;
    margin: auto;
    
    
    
    
}

/* Article image styling */
.article-image {
    flex: 1;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}

/* Article content styling */
.article-content {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.article-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.article-text {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .article-container {
        flex-direction: column;
    }

    .article-image, .article-content {
        width: 100%;
    }

    .article-image img {
        width: 100%;
        height: auto;
    }
}


/* Article container styling */
.article-container3 {
    display: flex;
    flex-direction: row;
    background-color: #fadbdb;
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 50%;
    overflow: hidden;
    box-shadow: 0 0 0px #ffffff;
    width: 50%;
    height: 500px;
    float: right;
    
    
    
    
}

/* Article image styling */
.article-image {
    flex: 1;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}

/* Article content styling */
.article-content {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.article-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.article-text {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .article-container {
        flex-direction: column;
    }

    .article-image, .article-content {
        width: 100%;
    }

    .article-image img {
        width: 100%;
        height: auto;
    }
}
